
body { font-family: sans-serif; padding: 20px; }
input { margin: 5px; padding: 5px; }
button { padding: 5px 10px; }
li { margin-bottom: 10px; }
body.bg-custom {
    background: url('contact/static/image/my_bg.jpg') repeat;
    background-size: cover;
    background-attachment: fixed;
}

